<section class="card my-4">
    <div class="card-body">
        <h1>About</h1>
        <p class="bg-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Autem quas aliquid unde iure consectetur. 
            Repellendus suscipit consequatur consectetur ad provident!</p>
    </div>
</section>