<div class="jumbotron p-4 ">
   <h1 class="display p-4">Notes App Nodejs and Mongodb</h1>
     <p class="lead">Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit. Culpa voluptatem aliquam quam rerum nisi esse?</p>
        <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ut adipisci ad, dolorum architecto illum eligendi.</p>
  <a href="" class="btn btn-primary">Home</a>
</div>