<body style="background: rgb(87, 97, 87);">
     <div class="col-md-4 mx-auto my-5">
    <div class="card">
        <div class="card-header">
            <h3>Edit Note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit/{{notas._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="from-group">
                <input type="text " name="title" class="form-control my-3" value="{{notas.title}}">
            </div>
            <div class="from-group">
                <textarea name="description" class="form-control my-3" >{{notas.description}}</textarea>
            </div>
            <div class="from-group">
                <button type="submit" class="btn btn-primary btn-block btn-sm">Save</button>
            </div>

            </form>
        </div>
    </div>
</div>
</body>
 